HTTP_ADDR=:8080
DATABASE_DSN=postgres://vkr:vkr@postgres:5432/vkr?sslmode=disable
TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_IDS=
APP_TIMEZONE=Europe/Moscow
SEED_ON_START=false
SEED_STUDENTS_FILE=input/Контингент_5130904_201.json
SEED_CHOICES_FILE=input/Дисциплины_пример.json
